<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top py-3 px-5 bg-opacity-75">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/pagina2">
        <img src="../../assets/img/LOGO_IKOMI.png" alt="Flowbite Logo" height="64" class="me-2">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mr-5">
          <li class="nav-item">
            <a class="nav-link nav_link_hover " aria-current="page" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_link_hover"  routerLink="/pagina1">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_link_hover" routerLink="/pagina2">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_link_hover" routerLink="/pagina3">Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_link_hover" routerLink="/pagina4">Marcas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav_link_hover" routerLink="/pagina5">Contáctenos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  