
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5 mx-5 pt-5 px-5">
  <div class="col">
    <div data-aos="fade-left" class="card shadow-sm aos-init aos-animate">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="60" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Equipo</text></svg>

      <div class="card-body">
        <img src="../../../assets/img/nosotros.jpg" alt="" style="width: 100%;height: 100%;">
        
        
      </div>
    </div>
  </div>
  <div class="col">
    <div data-aos="zoom-in" class="card shadow-sm aos-init aos-animate">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Almacen</text></svg>

      <div class="card-body">
        <img src="../../../assets/img/bodega.jpg" alt="" style="width: 100%;height: 100%;">
        
      </div>
    </div>
  </div>
  <div class="col">
    <div data-aos="fade-right" class="card shadow-sm aos-init aos-animate">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Tienda</text></svg>

      <div class="card-body">
        <img src="../../../assets/img/entrada.jpg" alt="" style="width: 100%;height: 100%;">
       
      </div>
    </div>
  </div>
  <div class="col">
    <div data-aos="fade-right" class="card shadow-sm aos-init aos-animate">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Empresa</text></svg>

      <div class="card-body">
        <img src="../../../assets/img/empresa.jpg" alt="" style="width: 100%;height: 100%;">
        <div class="d-flex justify-content-between align-items-center">
          
        </div>
      </div>
    </div>
  </div>
  
</div>



<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid bg-cover bg-no-repeat text-center" style="background-image: url('../../public/img/hero-bg.png');">
  <div class="overlay"></div>
  <div class="container text-white">
    <h2 class="display-4 mb-4">Repuestos en general para camiones de todas las marcas.</h2>
    <h4 class="mb-6">Somos una empresa importadora de repuestos.</h4>
  </div>
</div>



<div class="bg-black pb-5">
  <div class="container ">
    <h1 class="text-white display-1 mb-5">Historia</h1>
    <div>
      <p class="text-white py-3 lead">IKOMI PERU es una compañía dedicada a la importación y comercialización de repuestos automotrices al por mayor y por menor para vehículos medianos y pesados de las principales marcas de origen koreano y japonés.</p>
      <p class="text-white py-3 lead">Nuestra empresa viene satisfaciendo las necesidades del rubro a nivel nacional desde 2009, cumpliendo con los estándares de calidad, seguridad y sostenibilidad que el mercado actual demanda.</p>
      <p class="text-white py-3 lead">IKOMI PERU, además de 15 años de presencia en el mercado peruano, cuenta con el respaldo de sus más de 3000 clientes y se posiciona como una de las empresas más destacadas en el rubro a nivel nacional.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="text-gray-400 h2">Misión</p>
        <p class="text-gray-400 lead">En IKOMI PERU, nos comprometemos a satisfacer a nuestros clientes a través de colaboradores capacitados y mejora continua en la cadena de suministro. Valoramos la responsabilidad social y sostenibilidad, buscando un sistema de distribución ágil y seguro, minimizando nuestro impacto ambiental para construir un futuro ético y sostenible.</p>
        <p class="text-gray-400 h2">Proveedores</p>
        <p class="text-gray-400 lead">Entre nuestros proveedores se encuentran las mejores compañías de manufactura a nivel global, muchas de ellas certificadas con ISO 9001. Nuestras relaciones comerciales nos permiten realizar importaciones provenientes de diversas partes del mundo, potenciando el stock disponible con más de 5000 ítems diferentes.</p>
      </div>
      <div class="col-md-6">
        <p class="text-gray-400 h2">Visión</p>
        <p class="text-gray-400 lead">En IKOMI PERU, buscamos ser líderes reconocidos en el rubro automotriz, destacándonos por la calidad excepcional de nuestros productos y servicios. Nos esforzamos por superar expectativas, impulsados por la innovación constante y la excelencia en la satisfacción del cliente.</p>
        <p class="text-gray-400 h2">Logística</p>
        <p class="text-gray-400 lead">La logística, se ha convertido para IKOMI PERU en una herramienta indispensable para ser eficiente, rentable y competitivo dentro de las exigencias del mercado actual de almacenamiento y distribución de pedidos de repuestos.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-100">
  <div class="container my-5 pt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card m-4">
          <div class="card-body">
            <h2 class="text-center display-2">232</h2>
            <p class="text-center lead">Clientes Satisfechos</p>
          </div>
        </div>
        <div class="card m-4">
          <div class="card-body">
            <h2 class="text-center display-2">521</h2>
            <p class="text-center lead">Proyectos</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card m-4">
          <div class="card-body">
            <h2 class="text-center display-2">1463</h2>
            <p class="text-center lead">Ventas</p>
          </div>
        </div>
        <div class="card m-4">
          <div class="card-body">
            <h2 class="text-center display-2">15</h2>
            <p class="text-center lead">Asesoría</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
