<div class="container-fluid bg-black pb-5 pt-5">

    <div class="container ">
      <h1 class="text-white display-1 mb-5  pt-5">Servicios</h1>
      <hr>
      <p class="text-white h2">Estamos listos para atender</p>
  
      <div class="row">
        <div class="col-md-6">
          <div class="card bg-dark text-white m-3 rounded-lg">
            <div class="card-body">
              <h3 class="text-white h2">Ventas</h3>
              <p class="text-gray-400">Venta de los mejores repuestos de partes de motor, cajas, transmisiones, piñones, coronas y trenes fijos de las marcas de Korea y Japon. A los mejores precios del mercado.</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="card bg-dark text-white m-3 rounded-lg">
            <div class="card-body">
              <h3 class="text-white h2">Asesoría</h3>
              <p class="text-gray-400">Le brindamos una asesoría personalidad acerca de nuestros productos, a elegir el mejor repuesto para su movilidad.</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="card bg-dark text-white m-3 rounded-lg">
            <div class="card-body">
              <h3 class="text-white h2">Delivery</h3>
              <p class="text-gray-400">Compras sin salir de casa, realizamos entregas a domicilio en el menor tiempo posible.</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="card bg-dark text-white m-3 rounded-lg">
            <div class="card-body">
              <h3 class="text-white h2">Logística</h3>
              <p class="text-gray-400">La logística, se ha convertido para IKOMI PERU en una herramienta indispensable para ser eficiente, rentable y competitivo dentro de las exigencias del mercado actual de almacenamiento y distribución de pedidos de repuestos.</p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  